* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8e8e8e;
}

.menu-container {
  display: inline-block;
  position: relative;
  width: 90%;
  height: 10px;
  overflow: hidden;
}

#icon-menu {
  display: inline-block;
  width: 40px;
  position: absolute;
  margin-top: 1.5%;
  margin-left: 1.5%;
}

h1.name {
  display: inline-block;
  font-weight: 190;
  position: absolute;
  margin-top: 1.5%;
  left: 40%;
  color: #8e8e8e;
}

.social-media-container {
  display: inline-block;
  position: relative;
  width: 90%;
  height: 80%;
  left: 84%;
  padding-left: 4%;
}

.icon-social {
  margin-left: 0.5%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .slider-main {
  padding-top: 40px;
}

#myLinks {
  display: none;
}

/* Slider */

.slider-main {
  display: flex;
  overflow-y: hidden;
  align-items: flex-start;
  height: 725px;

  
}

.slider-main::-webkit-scrollbar {

  height: 5px;
}

.slider-main::-webkit-resizer {
  position: absolute;

  
}

#first-item {
  padding-left: 0;
}

.slider-item {
  padding-left: 20px;
  max-width: 1168px;
  height: 700px;
  object-fit: cover;
}

/* footer */

.footer {
  width: 100%;
  bottom: 22px;
  background-color:white;
  position: absolute;
  padding-bottom: 0;

}

.footer a{
 
  text-decoration: none;
  
}

.item-footer {
  padding: 0.4em;
  width: 0.9em;
  object-fit: cover;
}

.fullscreen {
  width: 20px;
}
