*{
    margin: 0;
    padding: 0;
    font-family:  'Montserrat', sans-serif;
    

}

.main-container{
    width: 100%;
}

.menu-container{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    
  
  
}

#icon-menu img{
    display: inline-block;
    width:2rem;

}

.menu-container h1{
    display: inline-block;
    position: absolute;
    margin-top: 1%;
    left: 40%;
    width: 300px;
    color:#8e8e8e;   
    
}

.social-media-container{
    display: inline;
    position: relative;
    width: 100%; 
    left: 85%;
    padding: 10px;

}


.facebook-icon{
    position: absolute;
    left:80%;
}

.instagram-icon{
    position: absolute;
    left: 82%;
}

.youtube-icon{
    position: absolute;
    left: 85%;
}


.slider{
    background-color: grey;
    width: 1250px;
    height: 700px;
    
}




